<div id=comments-view>
  <div id=doc-pages>
    <% if @pages %>
      <% @pages.each do |url, pagenum| %>
        <img src=<%= url %> class='doc-page' id=<%= pagenum %> onclick=toolbar.add(event)></img>
        <br />
      <% end %>
    <% end %>
  </div>
  <div id=comments-bar>
    <span id=comments-label>Comments</span>
    <table id=comments-table>
      <tbody>
        <tr style=display:none></tr>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <% @comment = comment %>
            <%= render 'comments/comment_table_row' %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
