<div id=docPages style='width:500px; height:800px; overflow:scroll;'>
  <% if @pages %>
    <% @pages.each do |page| %>
      <img src=<%= page %> class='doc-page'></img>
    <% end %>
  <% end %>
</div>


<table id=comments-table class=data-table>
  <tr>
    <th class=idCol>ID</th>
    <th class=leftCol>Commenter</th>
    <th>Body</th>
  </tr>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <tr class=table_row>
        <td class=idCol><%= comment.id %></td>
        <td class=leftCol><%= comment.commenter %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  <% end %>
</table>

