<table id=classes-table class=data-table>
  <thead>
    <tr class='table-header'>
      <th class=idCol>ID</th>
      <th class=leftCol>Name</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <% if @groups %>
      <% @groups.each do |group| %>
        <% @group = group %>
        <% if current_user.can_access(group) %>
          <%= render 'groups/group_table_row' %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
