<tr class=table_row id=group<%= @group.id %>>
  <td class=idCol><%= @group.id %></td>
  <td class=leftCol><%= @group.name %></td>
  <td><%= render 'layouts/time', :time => @group.updated_at, :editor => @group.editor %></td>
</tr>
