<div id=deleteForm class=form>
  <%= form_for @groups, :url => {:action => 'destroy'}, :remote => true do |f| %>
    <div id=delete-id>
      <%= f.text_field :id %>
    </div>
    Are you sure you wish to delete this group?
    <div class ='actions'>
      <%= button_to_function 'Cancel', 'toolbar.close()' %>
      <input name='commit' type='submit' value='Delete Group' onclick='toolbar.close()'>
    </div>
  <% end %>
</div>
