<div id=membersForm class=form>
  <h2>Add a new member</h2>
  <%= form_for @groups, :url => {:action => 'add_member'}, :remote => true do |f| %>
    <div id=members-id>
      <%= f.text_field :id %>
    </div>
    <%= text_field_tag 'login', '', :id => 'members-login' %>
    <div class ='actions'>
      <input name='commit' type='submit' value='Add Member' onclick='toolbar.close()'>
    </div>
  <% end %>
  <img src='/assets/close.png' class=closeButton id=closeButton onclick='toolbar.close()'></img>
</div>
