<div id=membersForm class=form>
  <%= form_for @groups, :url => {:action => 'add_member'}, :remote => true do |f| %>
    <%= select_tag(:id, options_for_select(@visible_groups.map {|group| [group.name, group.id]})) %>
    <%= form_tag do %>
      <%= text_field_tag 'login', '', :autocomplete => users_autocomplete_users_login_path %>
    <% end %>
    <div class ='actions'>
      <input name='commit' type='submit' value='Add Member' onclick='toolbar.close()'>
    </div>
  <% end %>
  <img src='/assets/close.png' id=closeButton onclick='toolbar.close()'></img>
</div>
