<br/>
<% if logged_in? -%>
  <div id="user-bar-greeting"><%= current_user.login %></div>
  <div id="user-bar-action"  ><%= link_to "Log out", logout_path, { :id => 'logout-link', :title => "Log out" }    %></div>
<% else -%>
  <div id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :id => 'log-in-link', :title => "Log in" } %> 
    <%= link_to "Sign up", signup_path, { :id => 'sign-up-link', :title => "Create an account" } %></div>
<% end -%>
