<% if logged_in? -%>
  <div id="user-bar-action">
    <a id=profile-link><%= current_user.login %></a> / 
    <a id='logout-link' title='Log out' onclick=toolbar.logout()>Log out</a>
  </div>
<% else -%>
  <div id="user-bar-action"  ><a id='log-in-link' title='Log in' onclick='toolbar.login()'>Log In</a> / 
    <a id='sign-up-link' title='Create an account' onclick=toolbar.signup()>Sign up</a>
  </div>
<% end -%>
