<div id=homepage class=centered>
  <div id=roundedbox>
    <div id=roundedboxcontent>
      <h1>Collaborate and Annotate.</h1>
      <p>Get all y'alls stuff on here. </p>
    </div>
  </div>
  <div id=contentbox>
    <div id=roundedboxcontent>
      <h1>What</h1>
    </div>
  </div>
  <div id=contentmargin>
  </div>
  <div id=contentbox>
    <div id=roundedboxcontent>
      <h1>What</h1>
    </div>
  </div>
  <div id=contentmargin>
  </div>
  <div id=contentbox>
    <div id=roundedboxcontent>
      <h1>What</h1>
    </div>
  </div>
</div>
<div id=overlay style='opacity:0; display:none'></div>
<div id=formContainer style='display:none'></div>
