<div id=homepage class=centered>
  <div id=roundedbox>
    <div id=roundedboxcontent>
      <h1>Collaborate & Annotate</h1>
      <p style='font-size: 13pt; margin-top:10px; margin-left:8px;'>Upload your documents,<br /> and work with your peers.</p>
      <div id=blue-button-box>
        <a id=blue-button class=blue-button onclick=toolbar.signup()>Sign up now</a>
      </div>
    </div>
  </div>
  <div class=contentbox>
    <div id=contentbox1>
      <h1>What</h1>
    </div>
  </div>
  <div id=contentmargin>
  </div>
  <div class=contentbox>
    <div id=contentbox2>
      <h1>What</h1>
    </div>
  </div>
  <div id=contentmargin>
  </div>
  <div class=contentbox>
    <div id=contentbox3>
      <h1>What</h1>
    </div>
  </div>
</div>
<div id=overlay style='opacity:0; display:none'></div>
<div id=formContainer style='display:none'></div>
