<tr class=table_row id=doc<%= @doc.id %>>
  <td class=idCol><%= @doc.id %></td>
  <td class=leftCol><%= @doc.title%><span id=inline-delete class=inline-button title='Delete document' onclick=toolbar.delete()> </span></td>
  <td><%= render 'layouts/time', :time => @doc.updated_at, :editor => @doc.editor %></td>
</tr>
