<% if @doc_alert != nil %>
  <div class=error-box>
    <%= @doc_alert %>
    <img src=/assets/close.png class='closeButton error-close' onclick='alerts.close()'>
  </div>
<% end %>
<table id=docs-table class=data-table>
  <thead>
    <tr>
      <th class=idCol>ID</th>
      <th class=leftCol>Title</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <% if @documents %>
      <% @documents.each do |doc| %>
        <% @doc = doc %>
        <%= render 'documents/document_table_row' %>
      <% end %>
    <% end %>
  </tbody>
</table>
