<%= form_for([@group, @group.documents.build], :remote=>true) do |f| %>
  <h2>Add a new document</h2>
  Enter the url of a PDF, and we'll display it for you.
  <div class="field" style='margin-top:10px'>
    <%= f.text_field :url, :value => 'URL', :onfocus => "util.removeText('#document_url', 'URL')", :onblur => "util.addText('#document_url', 'URL')", :class => 'text-grey'%>
  </div>
  <div class="field">
    <%= f.text_field :title, :value => 'Title', :onfocus => 'util.removeText(\'#document_title\', \'Title\')', :onblur => 'util.addText(\'#document_title\', \'Title\')', :class => 'text-grey'%>
  </div>
  <div class="actions" onclick=toolbar.close()>
    <%= f.submit %>
  </div>
<% end %>

