<div id=deleteForm class=form>
  <%= form_for [@group, @group.documents.build], :url => {:action => 'destroy'}, :remote => true do |f| %>
    <div id=delete-id>
      <%= f.text_field :id %>
    </div>
    Are you sure you wish to delete this document?
    <div class ='actions'>
      <%= button_to_function 'Cancel', 'toolbar.close()' %>
      <input name='commit' type='submit' value='Delete Document' onclick='toolbar.close()'>
    </div>
  <% end %>
</div>
