<div id=deleteForm class=form>
  <%= form_for [@group, @group.documents.build], :url => {:action => 'destroy'}, :remote => true do |f| %>
    <div id=delete-id>
      <%= f.text_field :id %>
    </div>
    <div class ='actions'>
      <input name='commit' type='submit' value='Delete Document' onclick='toolbar.close()'>
    </div>
  <% end %>
  <img src='/assets/close.png' id=closeButton onclick='toolbar.close()'></img>
</div>
