/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {
  height:100%;
  line-height:1.4;
  margin:0;
  padding:0;
}

#container {
  background:#eeeeee;
  min-height:100%;
  overflow:hidden;
  position:relative;
}

#header {
  background:url('/assets/header_bg.png');
  height: 74px;
}

#breadcrumbs {
  background:url('/assets/navbar_bg.png');
  font-weight:bold;
  height: 50px;
  overflow:hidden;
}

#comments-label {
  border-bottom-color:#919599;
  border-bottom-style:solid;
  border-width:2px;
  color:#a6a6a6;
  font-size:16pt;
  font-weight:bold;
  padding-bottom:2px;
  width:100%;
}

.breadcrumb {
  color:#a6a6a6;
  display:inline-block;
  font-size:18pt;
  padding-right:7px;
  padding-top:15px;
}

.bc_cont {
  -webkit-border-bottom-right-radius:16px 25px;
  -webkit-border-top-right-radius:16px 25px;
  -webkit-box-shadow:2px 0px 2px black;
  cursor:pointer;
  display:inline-block;
  height:100%;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer {
  background: yellow;
  bottom: 0;
  height: 40px;
  position: absolute;
  width: 100%;
}

.data-table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}

#comments-table {
  left:70%;
  table-layout:fixed;
  top:0;
  width:100%;
  word-wrap:break-word;
}

.comments-li {
  cursor:pointer;
  padding-bottom:2px;
  padding-left:10px;
  padding-top:2px;
  width:200px;
}

.card {
  display:inline;
  float:left;
  margin:0;
  width:800px;
}

#slider {
  left:0;
  margin:0;
  position:relative;
  width:3000px;
}

.centered {
  margin:auto;
  overflow:hidden;
  width:800px;
}

#logo {
  background: 'transparent';
  color:#a6a6a6;
  font-family: 'Aclonica', sans-serif;
  font-size:36pt;
  margin-left:-5px;
  text-decoration:none;
  top:30px;
  position:relative;
}

#logo:hover {
  background: transparent;
}

#headerRight {
  color:#a6a6a6;
  float:right;
  position:relative;
  top:16px;
  width:232px;
}

#search {
  background: url('/assets/search.png') no-repeat 4px 50%, white;
  background-size:11px 11px;
  border: 1px solid #999;
  border-radius:12px;
  -webkit-border-radius:12px;
  margin-right:0;
  padding-bottom:1px;
  padding-left:7%;
  width:92%;
}

th {
  background-image: -webkit-linear-gradient(top, rgb(48, 97, 153), rgb(30, 61, 96));
  color:#a6a6a6;
  font-size:18px;
  height:30px;
  text-align:left;
}

#table-header {
}

.table_row {
  background-color:#c2c7cc;
  border-collapse:separate;
  border-top-style:solid;
  border-top-color:#919599;
  border-width:1px;
  cursor:pointer;
  height:30px;
}

.table_row:hover {
  background: #999999;
}

.idCol {
  display:none;
}

.leftCol {
  padding-left:10px;
  width:558px;
}

.leftColComments {
  width:100%;
}

td.leftCol:hover {
  text-decoration:underline;
}

#toolbar {
  float:right;
  height: 100%;
}

.button {
  border-top: 1px solid #b3b3b3;
  background: #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#666666));
  background: -webkit-linear-gradient(top, #c7c7c7, #808080);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #333;
  margin-left:3px;
  padding: 9px 15px;
  position:relative;
  text-decoration: none;
  top:15px;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #4d4d4d;
  background: #333333;
  color: #ccc;
}

#delete {
  background: url('/assets/trash.png') no-repeat center center, -webkit-linear-gradient(top, #c7c7c7, #808080);
  cursor:pointer;
}

#inline-delete:hover {
  background: url('/assets/trash_inv.png') no-repeat center center;
}

#members {
  background: url('/assets/members.png') no-repeat center center, -webkit-linear-gradient(top, #c7c7c7, #808080);
  cursor:pointer;
  padding-left:20px;
  padding-right:20px;
}

#inline-members:hover {
  background: url('/assets/members_inv.png') no-repeat center center;
}

#add {
  background: url('/assets/add.png') no-repeat center center, -webkit-linear-gradient(top, #c7c7c7, #808080);
  cursor:pointer;
}

#add:hover {
  background: url('/assets/add_inv.png') no-repeat center center, #333333;
}

#roundedbox {
  padding-top: 1px;
  background: gray;
  height:300px;
  width:100%;
  -webkit-border-radius: 12px;
  margin-bottom:4px;
}

#roundedboxcontent {
  padding-left: 12px;
}

#contentbox {
  background: blue;
  width: 264px;
  height: 150px;
  display: inline-block;
  -webkit-border-radius: 12px;
}

#contentmargin {
  background: red;
  width: 4px;
  height: 150px;
  display: inline;
}

.form {
  background:#EEE;
  -webkit-border-radius:12px;
  margin: auto;
  margin-top:150px;
  padding: 20px;
  padding-top:25px;
  position:relative;
  text-align:center;
  width:600px;
}

#deleteForm {
  width:300px;
}

#group_name {
  text-align:center;
}

#document_title {
  text-align:center;
}

#document_url {
  text-align:center;
}

#members-login {
  text-align:center;
}

.closeButton {
  height:20px;
  position:absolute;
  right:10px;
  top:10px;
  width:20px;
}

.inline-button {
  float:right;
  height:18px;
  margin-right:3px;
  width:14px;
}

#inline-delete {
  background: url('/assets/trash.png') no-repeat center center;
  background-size:10px 14px;
}

#inline-members {
  background: url('/assets/members.png') no-repeat center center;
  background-size:22px 14px;
  width:22px;
}

#newForm {
}

#overlay {
  background:black;
  height:100%;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:5;
}

#formContainer {
  height:100%;
  position:absolute;
  top:0;
  width:100%;
  z-index:5;
}

.doc-page {
  background:white;
  display:block;
  width:100%;
}

#doc-pages {
  background:#306199;
  -webkit-box-shadow: 2px 2px 5px black;
  float:left;
  height:750px; 
  margin-left:1%;
  overflow-x:hidden;
  overflow-y:scroll;
  padding:2%;
  padding-bottom:0%;
  position:relative;
  width:66%;
  z-index:2;
}

.doc-gradient {
  height:6px;
  margin-left:8px;
  position:absolute;
  width:560px;
  z-index:3;
}

#top-gradient {
  -webkit-box-shadow: 0 4px 4px #306199 inset;
}

#bottom-gradient {
  -webkit-box-shadow: 0 -4px 4px #306199 inset;
  top:761px;
}

#doc-gradients {
  background:black;
  display:inline;
  float:left;
  height:766px;
  position:absolute;
  width:560px;
}

#comments-bar {
  background:#306199;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -webkit-box-shadow: 2px 2px 5px black;
  float:left;
  height:730px;
  margin-bottom:10px;
  margin-top:10px;
  overflow:hidden;
  padding:1%;
  position:relative;
  width:27%;
  z-index:1;
}

.commentList {
  border-width:2px;
  color:#a6a6a6;
  font-size:14pt;
}

.commentList:hover {
  background: #777777;
  color:black;
}

.comment-selected {
  border-color:#c7ba04;
  border-style: solid;
  border-width: 2px;
  padding-bottom:0;
  padding-left:8px;
  padding-top:0;
}

.nickname {
  color:#a6a6a6;
}

#user-bar-greeting {
  color:#a6a6a6;
  display:inline;
  float:left;
  font-size:13pt;
}

#user-bar-action {
  color:#a6a6a6;
  display:inline;
  float:right;
}

#log-in-link, #sign-up-link, #profile-link, #logout-link {
  color:#a6a6a6;
  font-size:13pt;
}

#log-in-link:hover, #sign-up-link:hover, #logout-link:hover {
  background:transparent;
  color:white;
}

#log-in-link, #sign-up-link, #logout-link {
  text-decoration: underline;
}

#profile-link:hover {
  background:transparent;
  color:#a6a6a6;
}

#delete-id {
  display:none;
}

#members-id {
  display:none;
}

.error-box {
  background:#c7ba04;
  -webkit-border-radius:5px;
  min-height:35px;
  margin-bottom:10px;
  padding-bottom:6px;
  padding-top:20px;
  position:relative;
  text-align:center;
  width:100%;
}

.error-box li {
  display:block;
}

.error-close {
  top:7px;
  right:7px;
}

.comment-marker {
  background:#c7ba04;
  cursor:pointer;
  height:50px;
  left:95%;
  opacity:0.55;
  position:absolute;
  width:6px;
}

.comment-marker-selected {
  opacity: 1.0;
}

.text-grey {
  color: #666;
}
