/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html, body {
  height:100%;
  line-height:1.4;
  margin:0;
  padding:0;
}

#container {
  background:#eeeeee;
  min-height:100%;
  overflow:hidden;
  position:relative;
}

#header {
  background:url('/assets/header_bg.png');
  height: 74px;
}

#breadcrumbs {
  background:url('/assets/navbar_bg.png');
  height: 50px;
  overflow:hidden;
}

.breadcrumb {
  color:#a6a6a6;
  display:inline;
  font-size:18pt;
}

#content {
  padding-top: 20px;
  padding-bottom: 60px;
}

#footer {
  background: yellow;
  bottom: 0;
  height: 40px;
  position: absolute;
  width: 100%;
}

.data-table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}

.card {
  display:inline;
  float:left;
  margin:0;
  width:800px;
}

#slider {
  left:0;
  margin:0;
  position:relative;
  width:3000px;
}

.centered {
  margin:auto;
  overflow:hidden;
  width:800px;
}

#logo {
  color:#a6a6a6;
  font-size:36pt;
}

#headerRight {
  color:#a6a6a6;
  float:right;
  position:relative;
  top:-6px;
}

#search {
  border: 1px solid #999;
  border-radius:12px;
  color:#a6a6a6;
  padding-bottom:1px;
  padding-left:5px;
  -webkit-border-radius:12px;
}

th {
  background-image: -webkit-linear-gradient(top, rgb(48, 97, 153), rgb(30, 61, 96));
  color:#a6a6a6;
  font-size:16px;
  height:30px;
  text-align:left;
}

#table-header {
}

tr {
  background-color:#c2c7cc;
  border-collapse:separate;
  border-bottom-style:solid;
  border-bottom-color:#919599;
  border-width:1px;
  height:30px;
}

.idCol {
  display:none;
}
