<div id=slider>
  <div class=card id=groups>
    <%= render 'groups/group_table' %>
  </div>
  <div class=card id=documents>
    <%= render 'documents/document_table' %>
  </div>
  <div class=card id=comments>
    <%= render 'comments/comment_table' %>
  </div>
</div>
