<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id=container>
    <div id=header>
      <div class=centered style='padding-top:22px'>
        <span id=logo>Dockt</span>
        <div id=headerRight>
          <input type='text' name='search' id='search' size='40' value='search'>
          <span style='display:block'>Logged in as Mason Glidden  |  Log out</span>
        </div>
      </div>
    </div>
    <div id=breadcrumbs>
      <div class=centered style='height:100%;'> 
      </div>
    </div>
    <div id=content class=centered>
      <%= yield %>
    </div>
  <div>
</body>
</html>
